@font-face {
  font-family: centuryGothic;
  src: url(./assets/century-gothic/Century\ Gothic.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.primary-btn {
  font-weight: 700;
  text-align: left;
  width: 250px;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e50019;
  border: 3px solid #e50019;
  height: 46px;
}

.primary-btn img {
  filter: invert(13%) sepia(97%) saturate(4961%) hue-rotate(346deg)
    brightness(88%) contrast(104%);
  transform: rotate(90deg);
  height: 15px;
}

.primary-btn:hover {
  background-color: #e50019;
  color: #fff;
  cursor: pointer;
}

.primary-btn:hover img {
  filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(270deg)
    brightness(110%) contrast(103%);
}

.secondary-btn {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  width: 180px;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: 3px solid #fff;
  text-transform: uppercase;
  height: 46px;
}

.secondary-btn img {
  filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(270deg)
    brightness(110%) contrast(103%);
  transform: rotate(90deg);
  /* width: 215px; */
  height: 15px;
}

.secondary-btn:hover {
  background-color: #000;
  cursor: pointer;
}

body {
  font-family: centuryGothic, sans-serif;
}

.container {
  position: relative;
  height: 2000px;
}

/* Section 1 :: Brand */

.brand-section {
  display: flex;
  position: sticky;
  top: 0;
  height: 150px;
  justify-content: space-between;
  z-index: 1;
  background-color: #e50019;
}

.logo {
  padding: 40px 60px;
}

.logo img {
  height: 45.5px;
}

.nav-btn img {
  height: 26px;
  transition: all 0.3s ease-in-out;
}

.nav-btn img.toggleWhite {
  position: absolute;
  right: 0;
  padding: 40px 60px;
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(16deg) brightness(103%)
    contrast(104%);
  transform: rotate(90deg);
  z-index: 2;
}

.nav-btn:hover {
  cursor: pointer;
}

.nav-btn img.toggleBlack {
  position: absolute;
  right: 0;
  padding: 40px 60px;
  filter: invert(0%) sepia(2%) saturate(7479%) hue-rotate(312deg)
    brightness(88%) contrast(101%);
  transform: rotate(180deg);
  z-index: 2;
}

#nav-bg {
  height: 100vh;
  position: absolute;
  right: 0;
}

.inactiveMenu {
  display: none;
}

.activeMenu {
  display: block;
}

.nav-section {
  position: absolute;
  z-index: 2;
  right: 160px;
  top: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-section .nav-link:nth-child(2) {
  margin-left: 60px;
}

.nav-section .nav-link:nth-child(3) {
  margin-left: 120px;
}

.nav-section .nav-link:nth-child(4) {
  margin-left: 180px;
}

.nav-section .nav-link:nth-child(5) {
  margin-left: 240px;
}

.nav-section .nav-link:nth-child(6) {
  margin-left: 300px;
}

.nav-link a {
  display: block;
  font-weight: 900;
  text-decoration: none;
  font-size: 2.6rem;
  color: #000;
  line-height: 5rem;
}

.nav-link a:hover {
  color: #e50019;
}

#nav-line {
  position: absolute;
  top: 600px;
  right: 200px;
  z-index: 2;
}

/* Section 2 :: Profile */

.profile-section {
  margin-top: -150px;
  position: relative;
  background-color: black;
}

.profile-wrapper {
  display: flex;
  margin: 0 130px;
  justify-content: space-between;
}

.brand-motto {
  background-color: #e50019;
  height: 295px;
  font-weight: 900;
  color: #fff;
  padding: 190px 90px 0;
}

.brand-motto h2 {
  min-width: 50%;
  font-size: 2.6rem;
}

.introduction {
  display: flex;
  flex-direction: column;
  width: 43%;
  height: 600px;
  justify-content: center;
}

.introduction > * {
  margin: 10px 0;
}

.introduction h1 {
  color: #fff;
  font-size: 2.6rem;
}

.introduction h1 span {
  font-weight: 500;
}

.introduction p {
  color: #fff;
  font-size: 1.1rem;
}

.lists {
  display: flex;
}

.lists ul li {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  text-indent: -10px;
}

.list-section p {
  font-weight: 900;
}

ul {
  margin: 0 10px 0 10px;
}

ul.dashed {
  list-style-type: none;
}

ul.dashed > li:before {
  content: "- ";
}

.profile-img {
  margin-top: -80px;
}

.profile-img img {
  width: 550px;
}

/* Content Section */

.content-section {
  display: flex;
  position: relative;
  background-color: #000;
}

.content-wrapper {
  display: flex;
  margin: 0 130px;
  justify-content: space-between;
  align-items: center;
}

.content-reverse {
  flex-direction: row-reverse;
}

.content-img img {
  margin: 10px 0;
  width: 550px;
}

/* Achievement Section */
.achieve-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 640px;
  width: 100%;
  background-image: url("./assets/engin-akyurt-tJPrz7S-dsE-unsplash.png");
}

.dark-banner {
  position: absolute;
  right: 0;
  height: 466px;
  width: 72%;
  background-color: black;
}

.award-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.achieve-title {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82%;
  height: 356px;
  padding: 20px;
  border: 2px solid #fff;
  z-index: 2;
}

.achieve-title h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.6rem;
  width: 261px;
  text-align: right;
}

.white-banner {
  background-color: #fff;
  width: 20px;
  height: 356px;
  margin-left: 10px;
  z-index: 2;
}

.achieve-reward img {
  height: 315px;
}

.social-wrapper {
  position: absolute;
  bottom: 22px;
  right: 176.8px;
  display: flex;
  width: 545px;
  justify-content: space-between;
}

.social-wrapper a img {
  height: 40px;
}

.social-icons img:hover {
  cursor: pointer;
}

/* Footer Section */

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.footer-section p,
.footer-section a {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  height: 128px;
  padding: 47px 0;
}

.footer-section a,
.para p:last-child {
  font-weight: 900;
}

.row-data {
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.row-data:last-child {
  justify-content: flex-start;
}

.data {
  display: flex;
  align-items: flex-end;
  min-width: 250px;
}

.icon {
  margin-right: 10px;
}

.icon img {
  height: 16px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1360px) {
  .achieve-title {
    flex-direction: column;
  }

  .achieve-title h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.2rem;
  }

  .achieve-title {
    height: 430px;
  }

  .white-banner {
    height: 430px;
  }

  .achieve-reward {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .achieve-reward img {
    height: 300px;
  }

  .content-img img,
  .profile-img img {
    margin: 10px 10px;
    width: 200px;
  }

  .profile-img {
    margin-top: 100px;
  }

  .introduction {
    width: 60%;
    height: 430px;
  }

  .introduction h1 {
    font-size: 2rem;
  }

  .introduction p,
  .lists ul li {
    font-size: 12px;
  }

  .row-data {
    width: 900px;
    align-items: space-between;
    justify-content: center;
    flex-wrap: wrap;
  }

  .row-data:last-child {
    width: 900px;
    align-items: space-between;
    justify-content: center;
    flex-wrap: wrap;
  }

  .data {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 900px) {
  .brand-motto h2 {
    font-size: 2rem;
  }

  .content-wrapper {
    flex-direction: column;
    margin: 0 50px;
  }

  .profile-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    align-items: center;
  }

  .profile-img {
    margin: 0;
  }

  .profile-img img {
    margin: 0;
  }

  .introduction {
    width: 100%;
  }

  .achieve-section {
    /* height: 960px; */
  }

  .achieve-section {
    padding-top: 22px;
    align-items: flex-start;
  }

  .achieve-reward {
    flex-wrap: wrap;
  }

  .achieve-reward img {
    margin: 10px 0;
    width: 150px;
    height: 180px;
  }

  .achieve-title {
    height: 550px;
  }

  .white-banner {
    height: 550px;
  }

  .dark-banner {
    top: 60px;
  }

  .social-wrapper {
    right: 10%;
    flex-wrap: wrap;
    width: 80%;
  }

  /* .secondary-btn {
    margin-top: 15px;
  } */

  .footer-wrapper {
    min-height: 280px;
    width: 80%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 0;
  }

  .row-data {
    width: 50%;
    min-height: 200px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .row-data:last-child {
    width: 50%;
    min-height: 200px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  data {
    margin: 0;
  }
}
